.textInput {
  font-size: 3vh;
  border: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.75vw;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: white;
  color: black;
  width: 28vw;
}

.textInput:focus {
  outline: none;
}

.textInput:focus::placeholder {
  color: transparent;
}

.textInputLabel {
  margin: auto;
}

.link {
  color: white;
  font-size: 3vw;
}

.submitButton {
  width: 6vw;
  font-size: 1vw;
  margin-top: 1vw;
  padding: 0.25vw;
  background-color: white;
  border: 0;
  transition: all 0.25s ease-in-out;
}

.submitButton:hover {
  background-color: #4682b4;
  cursor: pointer;
}

.createGroupForm {
  background: rgb(33, 33, 33);
  width: 100vw;
  height: 75vh;
  margin: 0 auto;
  text-align: center;
  padding-top: 1vw;
}

#questionTitle {
  color: white;
  font-size: 1.5vw;
  margin-top: 1vw;
}
.border1 {
  width: 20vw;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 0.75vw;
}
.createGroupForm h2 {
  font-family: "fantasy";
  text-align: center;
  color: white;
  font-size: 2vw;
}
